<div class="col-md-6">
  <h2 class="text-center">Edit Contact</h2>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <!--<input type="hidden" [(ngModel)]="list-contact.id" id="id"/>-->
    <div class="form-group">
      <label for="name">Name:</label>
      <input [(ngModel)]="contact.name" placeholder="Contact name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="photo">Photo:</label>
      <input [(ngModel)]="contact.photo" placeholder="Contact photo" name="photo" class="form-control" id="photo">
    </div>

    <button class="btn btn-secondary" (click)="onCancel()" type="button">Cancel</button>
    <button class="btn btn-primary" type="submit">Update</button>
  </form>
</div>
